@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    display: flex;
    background-color: #292929; 
    justify-content: space-around;
    height: 60px;
    width: 100%;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
}

.logo a{
    text-decoration: none;
    color: #FFFFFF;
}

.logo .merci{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
}

.models a{
    position: absolute;
    top: 110px;
    left: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    color: #292929;
}

.models .a-series{
    position: relative;
    top: 110px;
    left: 215px;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #292929;
}

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    top: 150px;
    left: 0;
    animation: 25s slider infinite;
}

.banner1 #slider figure .img1{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: 30% 70%;
    transform: scaleX(-1);
}
.banner1 #slider figure .img2{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: right;
    transform: scaleX(-1);
}
.banner1 #slider figure .img3{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: 50% 55%;
}
.banner1 #slider figure .img4{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: 65% 35%;
}

@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }
}

.info1{
    position: absolute;
    top: 250px;
    left: 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #292929;
}

.info1-1{
    position: absolute;
    top: 320px;
    left: 175px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: #292929;
}

.info2{
    position: relative;
    top: 175px;
    left: 150px;
    height: 300px;
    width: 300px;
}

.height1{
    position: relative;
    top: -170px;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.speed1{
    position: relative;
    top: -200px;
    left: 350px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.power1{
    position: relative;
    top: -230px;
    left: 750px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.price1{
    position: relative;
    top: -150px;
    left: 330px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
}

.banner2 #slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    top: 50px;
    left: 0;
    animation: 25s slider infinite;
}

.banner2 #slider figure .img1{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: 70% 50%;
    transform: scaleX(-1);
}
.banner2 #slider figure .img2{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: right;
    transform: scaleX(-1);
}
.banner2 #slider figure .img3{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: right;
}
.banner2 #slider figure .img4{
    float: left;
    width: 20%;
    height: 580px;
    object-fit: cover;
    object-position: 0% 60%;
    transform: scaleX(-1);
}

.info3{
    position: absolute;
    top: 1050px;
    left: 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
}

.info3-1{
    position: absolute;
    top: 1120px;
    left: 200px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: #FFFFFF;
}

/* .height2{
    position: relative;
    top: 10px;
    left: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
} */

/* .speed2{
    position: relative;
    top: -20px;
    left: 510px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.power2{
    position: relative;
    top:  -50px;
    left: 875px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.price2{
    position: relative;
    top: -150px;
    left: 330px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
} */

.button1{
    margin-left: 100px;
}


.btn1{
    position: absolute;
    top: 850px;
    right: 50px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
    padding: 20px 50px;
    box-shadow: inset 0 0 0 0 azure;
    transition: ease-out 0.3s;
}

.btn1:hover{
    box-shadow: inset 500px 0 0 0 #292929;
    color: #FFFFFF;
}

.info4{
    position: relative;
    top: 175px;
    left: 150px;
    height: 300px;
    width: 300px;
}

.height2{
    position: relative;
    top: -170px;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.speed2{
    position: relative;
    top: -200px;
    left: 350px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.power2{
    position: relative;
    top: -230px;
    left: 750px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #292929;
}

.price2{
    position: relative;
    top: -150px;
    left: 335px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
}

.button2{
    margin-left: 100px;
}


.btn2{
    position: absolute;
    top: 1750px;
    right: 50px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
    padding: 20px 50px;
    box-shadow: inset 0 0 0 0 azure;
    transition: ease-out 0.3s;
}

.btn2:hover{
    box-shadow: inset 500px 0 0 0 #292929;
    color: #FFFFFF;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #292929;
    color: #FFFFFF;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socialmedia{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 0;
}
.socialmedia li{
    margin: 0 20px;
}

.socialmedia a{
    text-decoration: none;
    color: #FFFFFF;
}
.socialmedia a i{
    font-size: 30px;
    transition: color 0.2s ease-out;
}

.socialmedia a:hover i{
    color:#9B9B9B;
}

.foot h2{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 50px;
    color: #FFFFFF;
}

.logofoot h2{
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}